<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBCBDBC01A64E94D00C43B10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBCBDBD91A64E94E00C43B10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBF3A7261AE1319700C52B47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
